.payment-main-div{
background: #fefefe;
    border-radius: 16px;
    box-shadow: 0 0 15px #0000001a;
    font-family: Segoe UI, sans-serif;
    margin: 40px auto;
    max-width: 600px;
    padding: 20px;
}
.product-summary-payment{
    align-items: center;
    display: flex
;
    flex-direction: column;
    margin-bottom: 25px;
}
.payment-img-product{
    border-radius: 10px;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
    width: 140px;

    background-color: #f9f9f9;
    border: 1px solid #ddd;
    max-width: 350px;
    padding: 10px;
}
.payment-product-price{
text-align: center;
}
.payment-address{
width: 100%;
}
.payment-form-input{
border: 1.5px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 9px 2px;
    transition: border-color .3s ease;
    width: 100%;
}
.payment-form-btn{
    width: 100%;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: .75rem 1.5rem;
    transition: background-color .3s ease;
    background: #3498db;
}