.product-main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    padding: 40px;
}

.product-div {
    color: rgb(0, 0, 0);
    height: auto;
    text-align: center;
    width: 250px;
    text-decoration: none;

}

.product-img-div {
    height: 300px;
    position: relative;
    width: 250px;
    border-radius: 10%;
    overflow: hidden;
    transition: transform 0.5s;

}

.product-img-div:hover {
    transform: scale(1.08);
}

.product-img {
    height: 100%;
    object-fit: contain;
    width: 100%;
    border-radius: 10%;
}

.overlay-wishlist {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    /* right: -28%; */
    position: absolute;
    top: 15%;
    transform: translate(-50%, -50%);
    width: 37px;
    /* word-break: break-word; */
    border-radius: 10px;
    padding: 5px 10px;
}

.product-name-price-cart-div {
    align-items: center;
    display: flex;
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
    height: 48px;
    justify-content: center;
    /* margin-top: 15px; */
    width: 250px;
    gap: 10px;
}

.product-name {
    /* margin-left: 50px; */
    width: 200px;
    word-break: break-word;
}

.product-cart-div {
    height: 30px;
    width: 50px;
}

.product-cart {
    color: tomato;
    font-size: 35px;
}

.extrasize {
    height: 70px;
    /* display: flex;
      justify-content: space-between; */
    margin: 10px 0;
    padding: 10px;
    background-color: #fff3cd;
    border-left: 5px solid #ffc107;
    border-radius: 8px;
    font-size: 15px;
    color: #444;
    overflow: hidden;
}

.extrasize p {
    margin: 2px 0;
    display: grid;
}

.product-buy-btn {
    width: 250px;
    border-radius: 10px;
    border: 0px solid;
    background-color: tomato;
    text-align: center;
    height: 40px;
    transition: 1.5s;
    font-weight: bold;
}

.product-buy-btn:hover {
    color: white;
    /* background-color: rgba(128, 255, 0.1); */
    font-size: 20px;
    background-color: green;
}

@media(max-width:460px) {
    .product-main-div {
        padding: 20px;
        gap: 35px;
    }

    .product-div {
        width: 120px;
    }

    .product-img-div {
        width: 120px;
        height: 200px;
    }

    .overlay-wishlist {
        font-size: 15px;
        width: 30px;
        top: 25%;
    }

    .product-name-price-cart-div {
        height: 20px;
        width: 120px;
        gap: 1px;
    }

    .product-cart-div {
        height: 20px;
        width: 25px;
    }

    .product-cart {
        font-size: 22px;
    }

    .extrasize {
        text-align: start;
        font-size: 11px;
        padding: 5px;
        margin: 5px 0;
        height: 40px;
    }

    .product-buy-btn {
        height: 25px;
        width: 120px;
    }
}