.main-div-support{
height: 90vh;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.form-div-support{
 display: flex
;
    height: 380px;
    width: 320px;
    margin: 0 auto;
    border-radius:15px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.form-main-support{
display: flex;
flex-direction: column;
gap: 30px;

}
.input-support{
     border: none;
    width: 250px;
    margin: 0 auto;
    height: 20px;
    padding: 5px;
    border-bottom: 1px solid;
}
.upload-button-support{
text-align: center;
}
.label-upload-support{
margin: 0 auto;
    width: 177px;
}
.input-support-btn{
    cursor: pointer;
    border: none;
width: 250px;
height: 20px;
margin: 0 auto;
background-color: cadetblue;
transition: all 0.5s ease-in-out;
}
.input-support-btn:active{
    transform: scale(0.9);
}