.banner-container {
  width: 100%;   
  height: 300px;
  overflow: hidden;
  margin-top: 10px;
  position: relative; 
}
.banner-img{
    width: 100%;
     height: 45vh;
    object-fit: cover; 
}
.slick-slider{
    margin: 10px;
}
.slick-prev {
  left: 10px !important;   
  z-index: 1;
  color: black !important;
}

.slick-next {
  right: 10px !important;  
  color: black !important;
}
@media(max-width:768px){
.slick-slider{
    margin-top: 80px;
}
.banner-img{
  object-fit: contain;
}
}
@media(max-width:460px){
.slick-slider{
    margin-top: 50px;
}
.banner-img{
 object-fit: contain;
}
}